*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-container{
    width: 100%;
}
.router-location p{
    color: #FF9138 ;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 24px 0 24px 0;
}
.d-section{
    margin: 16px 0 12px 0;
}
.d-section .d-title{
    color: #FF7506;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 16px 0 16px 0;
}
.d-figure{
    display: flex;
    gap: 20px;
}
.d-figure .d-f-box{
    width: 206px;
    height: 140px;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
}
.d-f-box img{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 8px;
    left: 12px;
}
.d-f-box .f-box-title{
    width: 70px;
    position: absolute;
    top: 14px;
    left: 72px;
}

.d-f-box .f-box-value{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 78px 0 0 12px;
}
.f-box-value h2{
    width: 108px;
    height: 45;
    color: #535261;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}
.f-box-value p{
    color: #FF9138;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin:  0 0 0 40px;
}
/* chart ******************************************* */
.d-container .d-chart{
    width: 100%;
    height: 484px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}
.d-chart-title{
    color: #282739;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.d-chart-title p{
    color: #A9A9B0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.chart-header{
    display: flex;
    justify-content: space-between;
}