*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
}

.left-navbar {
  width: 200px;
  height: 810px;
  border-radius: 16px 0 0 16px;
  overflow: hidden;
  z-index: 1000;
  position: relative;
}

.right-navbar {
  width: 401px;
  min-height: 810px;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
  z-index: 1; 
  position: relative;
}

.main {
  position: relative;
  flex-grow: 1;
  height: 810px;
  padding: 20px;
  background-color: #F6F6F6;
}