
.btn-cancel{
    width: 162px;
    height: 40px;
    color: #FF7506;
    border: 1px solid #FF7506;
    background-color: #ffffff;
    padding: 10px  24px  10px 24px;
    border-radius: 8px;
    margin: 19px 0 8px  20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.btn-continue{
        text-align: center;
        width: 162px;
        height: 40px;
        color: #ffffff;
        background-color: #FF7506;
        padding: 10px  24px 10px  24px;
        border-radius: 8px;
        margin: 19px 0 8px  34px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

}
.for-section-2 {
    width:  58.89%;
    height: 810px;
    background-color: #ffffff;
    position: relative;
}
.for-img-background{
    width: 605px;
    height: 614.06px;
    margin: 112.94px 0 0 79px;
    background-image: url('../../../public/images/Frame.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.input-error {
    border: 1px solid red;
}