* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito;
} 

img {
    width: 80px;
    height: 64px;
    margin: 32px 0 54px 60px;
}

.nav-link {
    list-style-type: none;
}

.nav-link li {
    width: 200px;
    height: 48px;
}

.nav-link a {
    text-decoration: none;
    color: #7e7d88;
    font-size: 14px;
    font-weight: 700;
    display: flex; 
    align-items: center;
    gap: 8px;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s; 
}

.nav-link a:focus,
.nav-link a:active {
    color: #ffffff;
    background-color: #ff7506;
}

.nav-link a:hover {
    color: #ff7506;
    background-color: #fff2e7; 
}

.nav-link svg {
    width: 20px;
    height: 20px;
    fill: none;
    transition: fill 0.3s, stroke 0.3s;
}

.nav-link a:hover svg path {
    stroke: #ff7506;
}

.logout {
    
    width: 200px;
    height: 46px;
    margin: 192px 0 0 12px;
}

.content {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 176px;
    height: 48px;
    background-color: #fff2e7;
    border-radius: 8px;
    padding: 12px;
}

.content a {
    text-decoration: none;
    color: #ff7506;
}
/* CSS cho overlay modal */
.modal-overlay {
    display: block;
    position: absolute;
    top: 390px; 
    left: 198px;
    z-index: 1000; 
}


.setting-modal {
    background-color: #ffffff;
    width: 200px;

}

.setting-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.setting-modal ul li {
    height: 48px;
}

.setting-modal ul a {
    text-decoration: none;
    color: #7e7d88;
    font-size: 16px;
    font-weight: 700;
    display: flex; 
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.setting-modal ul li a:hover {
    color: #ff7506;
    background-color: #fff2e7; 
}
